html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
}
body {
    line-height: var(--line-height-base);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-medium);
    font-family: var(--font-family-base);
    color: var(--text-color);
    margin: 0;
}
main {
    display: block;
  }
  a {
    background-color: transparent;
  }
a:link {
    text-decoration: none;
  }
  a:visited {
    font-style: italic;
  }
  a:hover {
    text-decoration: underline;
  }
  a:active {
    background-color: var(--color-light-grey);
  }
.visually-hidden {
    display: none;
}
.card-category {
    color: color-primary;
}
.section-header {
    text-align: var(--section-header-align);
}
.section-title {
    font-family: var(--font-family-title);
    font-size: var(--font-size-xx-large);
    font-weight: var(--font-weight-bold);
    margin: var(--section-title-margin);
    color: var(--section-title-color);
}
.section-tagline {
    font-family: var(--font-family-title);
    text-transform: var(--section-tagline-transform);
    color: color-primary;
    font-weight: var(--font-weight-bold);
}
:root {
    --section-title-margin: 0;
    --section-title-color: var(--color-black);
    --section-tagline-transform: uppercase;
    --section-header-align: center;
    --line-height-small: 1.2;
    --line-height-base: 1.5;
    --line-height-big: 1.8;
    --font-weight-regular: 400;
    --font-weight-bold: 700;
    --font-size-small: 1.2rem;
    --font-size-medium: 1.6rem;
    --font-size-large: 1.8rem;
    --font-size-x-large: 2.3rem;
    --font-size-xx-large: 4.8rem;
    --font-family-base: 'Open Sans', Helvetica Neue, Helvetica, Arial, sans-serif;
    --font-family-title: 'Raleway', Helvetica Neue, Helvetica, Arial, sans-serif;
    --color-primary: #d73953;
    --color-black: #090909;
    --color-white: #ffffff;
    --color-light-grey: #f3f3f3;
    --color-dark-grey: #353535;
    --text-color: var(--color-black);
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }
h1, h2, h3, h4, h5, h6 {
    font-weight: var(--font-weight-bold);
    font-family: var(--font-family-title);
}
hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
  }
pre {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
  }
abbr[title] {
    border-bottom: none; /* 1 */
    text-decoration: underline; /* 2 */
    text-decoration: underline dotted; /* 2 */
  }
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
small {
    font-size: 80%;
  }